*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.eateazy{
    font-size: 3em;
    color:  black;
    user-select: none;
    font-weight: 500;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #080606;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: magenta;
    border-radius: 5px;
    transform-origin:right ;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover:after{
    transform-origin:left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid magenta;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:  magenta;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnLogin-popup:hover{
    background: linear-gradient(45deg, #df4881,#c430d7);
    color: rgb(255, 253, 253);
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    

}
.wrapping{
    position:relative;
    width: 500px;
    height: 550px;
    background: transparent;
    border: 2px solid  magenta;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box h2{
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align:center;
}
.input-box{
    position:relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #080606;
    margin: 30px 0;
}
.input-box lable{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
   font-size: 1em;
   color: #080606;
   font-weight: 500;
   pointer-events: none;
}
.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #080606;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box.icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #080606;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #080606;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #080606;
    margin-right: 3px;
}
.remember-forgot a{
    color: #080606;
    text-decoration: none;
    padding-left: 150px;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #df4881,#c430d7);
    border-color: wheat;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: blanchedalmond;
}
.btn:hover{
    color:black;
    background: white;
 }
.login-register{
    padding-top: 15px;
}